body {
	font-family: Arial;
	/*background-color: #657bab;*/
	/*background-image: url('images/monimage4.png');*/
}

/* ----------- debut bloc titre - commun à toutes les pages ----------- */
#row_bloc_titre {
	/*background-color: blue;*/
}

#titre_left {
	height: 100px;
	padding-left: 50px;
	/*background-color: blue;*/
}

#titre_right {
	height: 100px;
	padding-top: 20px;
	/*background-color: green;*/
	/*background-color: red;*/
}

#button_exit {
	display: block;
   	margin : auto;
}


/* ----------- fin bloc titre - commun à toutes les pages ----------- */

/* login - page index */
#login {
	margin-left: 50px;
	width: 500px;
}

.bloc_global_body_requete {

}

/* bloc_requete - page 2 */
#bloc_requete {
	position: absolute;
	margin-left: 50px;
	width: 800px;
}

#bloc_infos {
	position: relative;
	margin-left: 900px; 
	padding-left: 0;
	margin-top: 50px;
	width: 250px;
}

.label_requete {
	font-weight: normal;
	text-transform: none;
}

.no-uppercase {
     text-transform: none;
} 

/* --------------------- debut page at1 ----------------------------- */
	/* bloc_config - page at1 */
#bloc_config {
	margin-left: 50px;
	width: 800px;
}

	/* bloc_config - page at1 = dropdown */
input[type=checkbox] {
    display: none;
}

ul {
    display: none;
}

input[type=checkbox]:checked ~ ul {
    display: block
}
/* --------------------- fin page at1 ------------------------------------ */


/* label color */
.input-field label {
	/*color: #000;*/

}


/* -------------------- début footer -----------------------------------*/
.bloc_footer {
	position : absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
}