body {
	font-family: Arial;
	/*background-color: #657bab;*/
	/*background-image: url('images/monimage4.png');*/
}

/* ----------- debut bloc titre - commun à toutes les pages ----------- */
#row_bloc_titre {
	/*background-color: blue;*/
}

#titre_left {
	height: 100px;
	padding-left: 50px;
	/*background-color: blue;*/
}

#titre_right {
	height: 100px;
	padding-top: 20px;
	/*background-color: green;*/
	/*background-color: red;*/
}

#button_exit {
	display: block;
   	margin : auto;
}

/* ----------- fin bloc titre - commun à toutes les pages ----------- */

#bloc_body_global {
	margin-left: 0;
	width: 1000px;
	/*background-color: #00b3ff;*/
}

/* login - page index */
#login {
	margin-left: 50px;
	width: 500px;
}

/* bloc_requete - page 2 - bloc body userrequete */
#bloc_requete {
	position: absolute;
	float: left;
	margin-left: 50px;
	margin_bottom:25px;
	width: 950px;
}
/* fin bloc_requete - page 2 - bloc body userrequete */

/* bouton de la page des requetes utilisateurs */
#btn_radio_style {
	text-transform: unset;
	text-align: left;
}
/* fin ----- */

#bloc_config {
	position: absolute;
	float: left;
	margin-left: 50px;
	width: 950px;
	font-size: 12.5px;
}

/*#user_resultat {
	width: 950px;
}*/

#bloc_infos {
	position: absolute;
	float: left;
	left: 950px;
	padding-left: 25px;
	padding-bottom: 64px;
	margin-left: 90px;
	margin-top: 34px;
	width: 250px;
}
#bloc_infos1 {
	position: absolute;
	float: left;
	left: 570px;
	padding-left: 25px;
	padding-bottom:33.5px;
	margin-top: 33.5px;
}
#bloc_infos2 {
	position: absolute;
	float: left;
	left: 1050px;
	padding-left: 25px;
	padding-bottom:25px;
	margin-top:34px;
	width: 250px;
}
#bloc_infos3 {
	position: absolute;
	float: left;
	left: 950px;
	margin-bottom: 50px;
	padding-bottom: 50px;
}

/* -------------------- début footer -----------------------------------*/
#bloc-footer {
	/*clear: both;*/
    /*position: absolute;*/ /* absolute */
	position: fixed;
	bottom: 0;
	left:0;
    height: 60px;
    width: 300px;
}


/* --------------------- debut page at1 ----------------------------- */
	/* bloc_config - page at1 */
/*bloc_config {
	margin-left: 50px;
	width: auto;
}*/

	/* bloc_config - page at1 = dropdown */
/*input[type=checkbox] {
    display: none;
}

ul {
    display: none;
}

input[type=checkbox]:checked ~ ul {
    display: block
}*/
/* --------------------- fin page at1 ------------------------------------ */


/* label color */
.input-field label {
	/*color: #000;*/

}

h5{
    color:black;
}

