body {
	font-family: Arial;
	/*background-color: #657bab;*/
	/*background-image: url('images/monimage4.png');*/
}

/* label color on the input field*/
/*form .form-group label {
	color: #1976d2;
}*/

/* label focus color */
/*form .form-group input[type=text]:focus + label {
	color: #d50000;
}*/

/* label underline focus color */
/*form .form-group input[type=text]:focus {
	border-bottom: 1px solid #1976d2;
	box-shadow: 0 1px 0 0 #1976d2;
}*/

/* valid color */
/*form .form-group input[type=text].valid {
	border-bottom: 1px solid #1976d2;
	box-shadow: 0 1px 0 0 #1976d2;
}*/

/* invalid color */
/*form .form-group input[type=text].invalid {
	border-bottom: 1px solid #1976d2;
	box-shadow: 0 1px 0 0 #1976d2;
}*/

/* ----------- debut bloc titre - commun à toutes les pages ----------- */
#row_bloc_titre {
	/*background-color: blue;*/
}

#titre_left {
	height: 100px;
	padding-left: 50px;
	/*background-color: blue;*/
}

#titre_right {
	height: 100px;
	padding-top: 20px;
	/*background-color: green;*/
	/*background-color: red;*/
}

#button_exit {
	display: block;
	margin : auto;
}
/* ----------- fin bloc titre - commun à toutes les pages ----------- */

/* container global in index and page2 */
#bloc_body_global {
	margin-left: 0;
	width: 1200px;
	/*background-color: #00b3ff;*/
}

/* bloc login - dans page index/bloc_body global */
#login {
	margin-left: 50px;
	width: 500px;
	/*background-color: #5f46cf;*/
	height: 100%;
}

/* bloc_requete - page 2 */
#bloc_requete {
	position: absolute;
	float: left;
	margin-left: 50px;
	margin-bottom:25px;
	width: 850px;
	/*background-color: #5feecf;*/
}
/* bloc infos - dans page admin */
#bloc_infos {
	position: absolute;
	float: left;
	left: 950px;
	padding-left: 25px;
	/*padding-bottom: 64px;*/
	margin-left: 0px;
	margin-top: 11.5px;
	width: 250px;
	background-color: #ffe34f;
}
/* bloc infos1 - dans page index/bloc_body global */
#bloc_infos1 {
	position: absolute;
	float: left;
	left: 600px;
	padding-left: 25px;
	padding-bottom:33.5px;
	margin-top: 11.5px;
	width: 250px;
}

/* bloc infos2 - dans page index/bloc_body userrequete */
#bloc_infos2 {
	position: absolute;
	float: left;
	left: 950px;
	padding-left: 25px;
	padding-bottom:25px;
	margin-top: 11.5px;
	width: 250px;
}

/* bloc infos3 - dans page utilisateur resultat */
#bloc_infos3 {
	position: absolute;
	float: left;
	left: 950px;
	margin-bottom: 50px;
	/*padding-bottom: 25px;*/
	margin-top: 11.5px;
	width: 250px;

}

#bloc_infos4 {
	position: absolute;
	float: left;
	left: 950px;
	/*padding-left: 25px;*/
	/*padding-bottom: 64px;*/
	margin-left: -60px;
	margin-top: -125px;
	width: 250px;
	/*background-color: #ffe34f;*/
	
}


#btn_radio_style {
	text-transform: unset;
	text-align: left;
}

/* -------------------- début footer -----------------------------------*/
#bloc-footer {
	/*clear: both;*/
	position: absolute;
	/*float: none;*/
	/*padding-top: inherit;*/
	margin-top: 10px;
	bottom: 0;
	height: 30px;
	width: 100%;
	
}


/* --------------------- debut page resultat utilisateur ----------------------------- */
/* bloc_config - page resultat utilisateur*/

#bloc_config {
	position: absolute;
	float: left;
	margin-left: 50px;
	width: 850px;
	font-size: 12.5px;
}


/* --------------------- fin page at1 ------------------------------------ */


/* label color */
.input-field label {
	/*color: #000;*/

}

h5{
	color:black;
}

